{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% include "intelligent_scheduler/metatags.html" %}

    {% block page_title %}
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' type='text/css' href="{% static 'intelligent_scheduler/css/bootstrap.min.css' %}" />

    {% block head_content %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% block body_content %}
    {% endblock %}

    <!-- jQuery -->
    <!--<script src="{% static 'intelligent_scheduler/js/jquery.js' %}"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'intelligent_scheduler/js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
